<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192507252597-harconp6742b0ikbghpa6la0hufvu9rk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192507252597-harconp6742b0ikbghpa6la0hufvu9rk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>192507252597-hrg7uet7g8vv36k3uc5m0venm3so2ff2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIjyOcqdmX0Atk15ssx7xeWofyZ0UaZkA</string>
	<key>GCM_SENDER_ID</key>
	<string>192507252597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>newchatapp-841c1</string>
	<key>STORAGE_BUCKET</key>
	<string>newchatapp-841c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192507252597:ios:6ef3c2f700c394f514cd3c</string>
	<key>DATABASE_URL</key>
	<string>https://newchatapp-841c1-default-rtdb.firebaseio.com</string>
</dict>
</plist>